body {
	background-color:#e6f8ff;
	 font-size:16px;
	 margin:0px;
	 padding:0px;
}


#homeworkcontent {
	list-style: none;
	 width: 330px;
	 border: solid 1px #d8d8d8;
	 margin: 0 auto;
	 background-color:#e7e7e7;
	border-radius:8px;
	 margin-top:50px;
	 box-shadow: 2px 2px 6px #105b7a;
	 padding:10px;
}


#homeworkcontent li {
	height:25px;
	 line-height:25px;
}


#homeworkcontent label {
	width:150px;
	 float:left;
}


.homeinput {
	margin-left:140px;
	 font-size:16px;
	 margin-top:10px;
}


.mainmany, #error_message {
	width:100%;
	 text-align:center;
	 margin-top:50px;
}


#error_message {
	color:#ff0000;
	 font-weight:bold;
}


.mainmany a {
	width:200px;
	 color:#000;
	 font-weight:bold;
	 font-size:20px;
	 text-decoration:none;
	 padding: 5px 15px;
	 margin:4px;
	 background-color:#e7e7e7;
	 border: solid 1px #d8d8d8;
	 border-radius:4px;
}

 
.mainmany a:hover {
	color:#ff0000;
}


.inputtable {
	margin: 0 auto;
	 background:#f3f3f3;
	 border: solid 1px #5b5b5b;
	 width:600px;
	 margin-top:20px;
	 border-spacing: 0px;
	 border-collapse: separate;
}


.inputtable tr td {
	border:solid 1px #dadada;
	 padding:3px;
}


.headtable {
	background:#dad8d8;
	 text-align:center;
	 font-weight:bold;
}


.inputtable .headtable td {
	border: solid 1px #b1b0b0;
}
